
__pycache__/spring_tracker.cpython-38.pyc
__pycache__/spring_tracker_old.cpython-39.pyc
tests/Alex's 1st test
__pycache__/simple_spring_damper_exact_inv.cpython-39.pyc
__pycache__/simple_spring_damper_exact.cpython-39.pyc
__pycache__/common.cpython-39.pyc
.idea/python_test_scripts.iml
.idea/misc.xml
.idea/misc.xml
.idea/python_test_scripts.iml
*.pyc
